@page "{id:Guid?}/{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Todo App";
}

<h1>Todo App</h1>

<p>
    <a asp-page="Create">Create New Todo</a>
</p>
<form method="post" >
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TodoItems[0].IsCompleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TodoItems[0].TaskDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TodoItems[0].Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TodoItems[0].CreatedTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TodoItems[0].Id)
                </th>
            </tr>
        </thead>
        <tbody>

            @for (var i = 0; i < Model.TodoItems.Count(); i++)
            {
            <tr>
                <td>
                    @{
                        string icon = Model.TodoItems[i].IsCompleted ? "&#x2611" : "&#x2610";
                    }
                    <a class="text-decoration-none" asp-page="./Index" asp-page-handler="Check" asp-route-id="@Model.TodoItems[i].Id">@Html.Raw(@icon)</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@Model.TodoItems[i].Id">@Model.TodoItems[i].TaskDescription</a>
                </td>
                <td>
                    @Model.TodoItems[i].Priority
                </td>
                <td>
                    @Model.TodoItems[i].CreatedTime
                </td>
                <td>
                    <input type="hidden" asp-for="TodoItems[i].Id" />
                    @Model.TodoItems[i].Id
                </td>
            </tr>
            }

        </tbody>
    </table>
</form>